img {
    height: 300px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    height: 2.5rem;

    background: #121212;
}

main {
    margin-top: 100px;
}

.answer-button {
    background-color: #B45BAE; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    
    margin: 1px;

    display: block;
}

.answer-button:hover {
    background-color: #AA40A3; /* Green */
}

body {
    width: 70%;
    margin: 0 auto;
}

#correct-or-incorrect {
    font-size: 32px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#score {
    color: white;
}