img {
    height: 300px;
    margin: auto;
}

.answer-button {
    width: 100%;
    height: 32px;
}

body {
    width: 70%;
    margin: 0 auto;
}

#correct-or-incorrect {
    font-size: 32px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}